body {
  background: black;
}
.jumbotron {
    background-image: url("../img/fries.gif");
    background-repeat: no-repeat;
    color: white;
    margin-top: 3vh;
  }
  #newburger {
    color: black;
  }
  #leftside {
    background-color: red;
    color: yellow;
    text-align: center;
    font-size: 2rem;
  }
  #rightside {
    background-color: yellow;
    color: red;
    text-align: center;
    font-size: 2rem;
  }